{% extends 'base.html.twig' %}

{% block title %}{{ user.getUsername }} Records{% endblock %}

{% block body %}
    <h1 class="ml-5 mt-3">Records of user: {{ user.getUsername }}</h1>

    {% if (is_granted('ROLE_MANAGER')) and (user.getId != app.user.getId) %}
        <form method="post" action="{{ path('edit_role', {'id': user.getId }) }}">
            <div class="row ml-1">
                <select class="custom-select col-sm-2" name="role" id="role">
                    {% if user.getRole != 'ROLE_MANAGER' %}
                        <option value="ROLE_MANAGER">Manager</option>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and user.getRole != 'ROLE_ADMIN' %}
                        <option value="ROLE_ADMIN">Administator</option>
                    {% endif %}
                </select>

            <button type="submit" class="input-group-text">Upgrade User</button>
            </div>
        </form>
    {% endif %}

    {% if user.getRecords|length > 0 %}

        <form method="post" action="{{ path('show_records', {'id': user.getId }) }}">
            <div class="row mt-3 ml-1">
                <div class="form-group row col-sm-4">
                    <label for="startDate" class="form-control col-sm-4">From: </label>
                    <input type="date" class="form-control col-sm-8" id="startDate" name="startDate">
                </div>
                <div class="form-group row col-sm-4">
                    <label for="endDate" class="form-control col-sm-4">To: </label>
                    <input type="date" class="form-control col-sm-8" id="endDate" name="endDate">
                </div>
                <button type="submit" class="col-sm-2">Filter by Date</button>
            </div>
        </form>

        <table class="table table-stripped table-bordered table-hover ml-1 mt-3" style="width: 70%">
            <thead class="thead-dark">
            <tr>
                <th width="5%">ID</th>
                <th width="20%">Date</th>
                <th width="20%">Distance</th>
                <th width="20%">Time</th>
                <th width="20%">Average Speed</th>
                <th width="15%">Actions</th>
            </tr>
            </thead>

            {% for record in user.getRecords %}
                <tr>
                    <td>{{ record.getId }}</td>
                    <td>{{ record.getDate.format('d-m-Y') }}</td>
                    <td>{{ record.distance }} km</td>
                    <td>{{ record.time }} min</td>
                    <td>{{ (record.distance/record.time*60)|round(3) }} km/h</td>
                    <td class="btn-group">
                        <button class="btn btn-secondary"><a href="{{ path('delete_record', {'id': record.getId}) }}" style="color: white">Delete</a></button>
                        <button class="btn btn-secondary"><a href="{{ path('edit_record', {'id': record.getId}) }}" style="color: white">Edit</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

    <form method="POST" action="{{ path('store_record', {'id': user.getId}) }}"  class="pt-5">
        <div class="form-group row m-1">
            <label for="date" class="form-control col-sm-2">Date</label>
            <input type="date" class="form-control col-sm-4" id="date" name="date">
        </div>

        <div class="form-group row m-1">
            <label for="distance" class="form-control col-sm-2">Distance</label>
            <input type="number" class="form-control col-sm-4" id="distance" name="distance" placeholder="KM">
        </div>

        <div class="form-group row m-1">
            <label for="time" class="form-control col-sm-2">Time</label>
            <input type="number" class="form-control col-sm-4" id="time" name="time" placeholder="MIN">
        </div>

        <div class="form-group m-1">
            <button type="submit" class="btn btn-primary">Submit Record</button>
        </div>
    </form>

{% endblock %}